@charset "UTF-8";

html {
	
}

body {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	padding: 20px;
	font-size:14px;
}

h1 {
	font-weight:bold;
	font-size:33px;
}

h2 {
	font-weight:bold;
	font-size:18px;
}

p {
	font-size:14px;
}

ol.bases li {
	padding-bottom: 10px;
}

ul {
	list-style: disc;
}