.modal {
	background-color: purple;
	color: black;
	font-family: inherit;
}

body{
  scrollbar-base-color: #B503BA;  
  scrollbar-track-color: #000;
 }

 video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

::-webkit-scrollbar { width: 6px; height: 3px;}

::-webkit-scrollbar-track {background-color: #B503BA;}

::-webkit-scrollbar-track-piece {background-color: #000;}

::-webkit-scrollbar-thumb {height: 50px; background-color: #B503BA; border-radius: 3px;}

::-webkit-scrollbar-corner { background-color: #B503BA;}
